.text-filter {
  margin-top: 30px;
  position: relative;
  width: 100%;

  input {
    border: none;
    border-bottom: 3px solid $yellow-brighter;
    background-color: $white;
    color: $black;
    height: 64px;
    font: 16px/22px $font-mali;
    display: block;
    padding: 20px 0px 0px 20px;
    width: 100%;

    &:focus ~ label,
    &:valid + label {
      bottom: 35px;
      font-size: 14px;
      transition: all 0.2s ease-in;
    }
  }

  label {
    bottom: 20px;
    color: $yellow-brighter;
    font: 18px/24px $font-mali;
    position: absolute;
    left: 22px;
  }
}
