.loader {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 60px auto;
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;

  &__circle {
    display: inline-block;
    background-color: $yellow;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -10px;

    &:nth-child(2) {
      background-color: $yellow-brighter;
      animation-delay: 0.75s;
    }
  }
}
