.btn {
  background: none;
  border: 2px solid $black;
  box-shadow: none;
  border-radius: 4px;
  color: $black;
  cursor: pointer;
  display: flex;
  font: 16px/20px $font-mali;
  height: 30px;
  justify-content: center;
  padding: 0;
  outline: none;
  width: 130px;
  z-index: 99;

  @include min-screen(1024px) {
    font-size: 18px;
  }

  &--wrapper {
    border: none;
    border-radius: 0px;
    height: 100%;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    @include centre();
    z-index: 999;
  }

  &--flex {
    display: flex;
    justify-content: center;
  }

  &--custom {
    border: 2px solid $white;
    color: $white;
    margin-bottom: 80px;
  }

  &--link {
    align-items: center;
    display: flex;
    text-decoration: none;
  }
}
