* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
button,
input,
select,
textarea {
  color: $black;
  &:focus {
    outline: none;
  }
}

html {
  font-size: 16px;
  height: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: $white;
  background-image: url("./assets/background.jpg");
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;

  &::before {
    background: rgba(#636363, 0.3);
    content: "";
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.App {
  position: relative;
  z-index: 10;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
