.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 20px;
  margin-bottom: 100px;
  margin-top: 60px;

  @include min-screen(560px) {
    grid-template-columns: 1fr 1fr;
  }

  @include min-screen(960px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 40px;
  }

  @include min-screen(1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include min-screen(1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 100px 80px;
  }

  &__item {
    align-items: center;
    background-color: $white;
    box-shadow: 0px 0px 10px 3px rgba($white, 1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding: 10px 0px;
    &__heading {
      color: $yellow-brighter;
      display: flex;
      font-size: 18px;
      text-align: center;

      @include min-screen(768px) {
        font-size: 22px;
      }

      @include min-screen(1440px) {
        font-size: 30px;
      }
    }
  }
}
