.header {
  display: flex;
  justify-content: center;

  &__button {
    border: 2px solid $white;
    padding: 15px;
    position: relative;
    margin: 20px;
    transition: opacity 0.1s ease-out;

    &:hover {
      transition: opacity 0.3s ease-in-out;
      opacity: 0.5;
    }

    &:before {
      animation: hint 10s 5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      background: $yellow;
      content: "";
      color: #fff !important;
      display: block;
      height: 100%;
      position: absolute;
      top: 0px;
    }

    &__image {
      position: relative;
      z-index: 99;
    }
  }
}
