@keyframes hint {
  0% {
    left: 100%;
    right: 0;
    width: 0;
  }
  3% {
    left: 0%;
    right: auto;
    width: 100%;
  }
  8% {
    right: 0;
    width: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
